// Deps
$fa-font-path: '../fonts/font-awesome/';
$icon-font-path: 'node_modules/bootstrap/fonts';
@import 'node_modules/bootstrap/dist/css/bootstrap.min';
@import 'node_modules/font-awesome/scss/font-awesome';

// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/quiz/quiz';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}
