// quiz styles

html {
  min-height: 100%;
  margin: 0;
}

body {
  background: url('../images/background.jpg') center top / cover no-repeat;
  font-family: 'Source Sans Pro', sans-serif;
}

.no-padding {
  padding: 0;
}

.inline {
  display: inline;
}

.quiz {
  text-align: center;

  .stars {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem;
    i {
      color: yellow;
      margin-right: 1rem;
    }
  }

  .next-star-counter {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.4rem 0.8rem;
    font-weight: 800;
    color: yellow;
    text-shadow: -2px 2px black;
  }

  .stats-section {
    text-align: center;
    h3 {
      display: inline-block;
      margin: 0.8rem 0.6rem;
      font-size: 1.6rem;
    }

    .stats {
      .stat {
        &.correct { color: green; }
        &.incorrect { color: red; }
      }
    }
  }

  .title-section {
    font-family: 'Baloo Bhai', cursive;
    font-size: 2.4rem;
  }

  .emoji {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2rem;
    display: none;

    &.correct {
      color: white;
      background-color: green;
    }
    &.incorrect {
      color: black;
      background-color: red;
    }
  }
}

@mixin button($background-color, $text-color, $border-color: false) {
  $border-thickness: 5px;
  border-radius: 0;
  transition: color 260ms linear, background-color 260ms linear;
  background-color: $background-color;
  color: $text-color;
  @if $border-color {
    border: $border-thickness solid $border-color;
  } @else {
    border: $border-thickness solid $background-color;
  }

  &:hover {
    background-color: white;
    color: black;
    @if $border-color {
      border: $border-thickness solid $background-color;
    }
  }
}

.btn {
  font-weight: 800;
  padding: 1rem 2.4rem;
  margin-bottom: 30px;
  width: 100%;

  &.next-question-button {
    text-transform: uppercase;
    font-size: 22px;
    @include button(#315, white, #103);
  }

  &.listen-again-button {
    font-size: 14px;
    padding: .6rem 2.4rem 1.4rem;
    i {
      margin-right: 6px;
      position: relative;
      top: 4px;
    }
    @include button(white, black);
  }

  &.answer-button {
    font-size: 32px;
    &.a {
      @include button(#f88, white, #d66);
    }
    &.b {
      @include button(#88f, white, #66d);
    }
  }
}
