// quiz styles

body {
  background: url('../images/background.jpg') center top / cover no-repeat;
}

.inline {
  display: inline;
}

.quiz {
  text-align: center;

  .stars {
    position: absolute;
    left: 0;
    padding: 2rem;
    i {
      color: yellow;
      margin-right: 1rem;
    }
  }

  .next-star-counter {
    position: absolute;
    left: 0;
    padding: 2rem 3.5rem;
    top: 5rem;
    font-weight: 800;
    color: yellow;
    text-shadow: -2px 2px black;
  }

  .bottom-of-page {
    position: absolute;
    bottom: 0;
    text-align: left;

    .stats {
      text-align: center;
      background-color: white;
      padding: 2rem;

      .stat {
        &.correct { color: green; }
        &.incorrect { color: red; }
      }
    }
  }

  .emoji {
    text-align: center;
    margin: 0 -15px;
    padding: 2rem;
    display: none;

    &.correct {
      color: white;
      background-color: green;
    }
    &.incorrect {
      color: black;
      background-color: red;
    }
  }
}

@mixin button($background-color, $text-color, $border-color: false) {
  $border-thickness: 5px;
  border-radius: 0;
  transition: color 260ms linear, background-color 260ms linear;
  background-color: $background-color;
  color: $text-color;
  @if $border-color {
    border: $border-thickness solid $border-color;
  }

  &:hover {
    background-color: white;
    color: black;
    @if $border-color {
      border: $border-thickness solid $background-color;
    }
  }
}

.btn {
  font-weight: 800;
  padding: 1rem 4rem;
  margin: 2rem;

  &.next-question-button {
    text-transform: uppercase;
    font-size: 22px;
    @include button(#315, white, #103);
  }

  &.listen-again-button {
    font-size: 14px;
    i {
      margin-right: 6px;
      position: relative;
      top: 4px;
    }
    @include button(white, black);
  }

  &.answer-button {
    font-size: 32px;
    &:first-of-type {
      @include button(#f88, white, #d66);
    }
    &:nth-of-type(2) {
      @include button(#88f, white, #66d);
    }
  }
}
