mixin quiz()
  .quiz
    .stars
    .next-star-counter.hidden
      p 10
    .stats-section.pull-right
      .stats
        //- i.fa.fa-2x.fa-refresh
        h3.stat.attempts Questions Attempted:
        //- i.fa.fa-2x.fa-circle-o
        h3.stat.correct Correct Answers:
        //- i.fa.fa-2x.fa-times
        h3.stat.incorrect Incorrect Answers:
    .row
      .col-xs-12.title-section
        h1 Hatsuon Master
      .col-xs-12.col-sm-8.col-sm-offset-2
        .answer-section
          .col-xs-12
            button.btn.answer-button.a hoge
          .col-xs-12
            button.btn.answer-button.b hoge
      .col-xs-12.col-sm-8.col-sm-offset-2
        .col-xs-6
          button.btn.listen-again-button.pull-left
            i.fa.fa-2x.fa-volume-up
            | Again
        .col-xs-6
          button.btn.next-question-button.pull-right Next

    h3.correct.emoji hoge
    h3.incorrect.emoji hoge
