<!DOCTYPE html><!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Mari-Practice</title>
  <meta name="description" content="A new Yeogurt application">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container-fluid">
    <div class="quiz row">
      <div class="stars"></div>
      <div class="next-star-counter hidden">
        <p>10</p>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <button class="btn next-question-button">Next Question</button>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <button class="btn listen-again-button"><i class="fa fa-2x fa-volume-up"></i>Listen Again</button>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <div class="answer-section hidden">
          <h3>Your Answer:</h3>
          <button class="btn answer-button">hoge</button>
          <button class="btn answer-button">hoge</button>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 bottom-of-page">
        <h3 class="correct emoji">hoge</h3>
        <h3 class="incorrect emoji">hoge</h3>
        <div class="stats">
          <h3 class="stat attempts">Questions Attempted:</h3>
          <h3 class="stat correct">Correct Answers:</h3>
          <h3 class="stat incorrect">Incorrect Answers:</h3>
        </div>
      </div>
    </div>
  </div>
  <script src="static/scripts/main.js"></script>
</body></html>